.sidebar-options{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-options:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: 100ms ease-in;
}

.option-icons{
    padding: 15px;
    font-size: 30px !important;
}

.sidebar-options > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.signBtn {
    background-color: var(--twitter-background) !important;
    border-radius: 30px !important;
    color: var(--twitter-color) !important;
    transition: 100ms ease-in !important;
}

.sidebar-options--active{
    color: var(--twitter-color);
}